
footer {
  margin-top: 10px; 
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #5b35f7;
  text-align: center;
  padding-bottom: 10px;
}

footer p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
