html {
  height: 100%;
}
body {
  width: 80%;
  margin: 0;
  min-height: 100%;
}

footer {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #decfe4;
  color: #5b35f7;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
