<app-nav-bar></app-nav-bar>
<div class="d-flex align-items-center justify-content-center mt-5">
  <div class="text-center">
    <h1
      class="display-1 fw-bold animate__animated animate__flip animate__bounce"
    >
      404
    </h1>
    <p class="fs-3"><span class="text-color">Opps!</span> Page not found.</p>
    <p class="lead">
      Sorry, somthing wrong .The page you’re looking for doesn’t exist for now !
    </p>
    <a href="/" class="btn btn-color">Go Home</a>
  </div>
</div>
<div></div>
<div></div>
<app-nav-bar></app-nav-bar>
