*{
    margin-top: 30px;
}
.text-color{
    color: rgb(185,142,238);
}
.btn-color{
    font-family: Alkatra;
    margin-top: 30px;
    background-color: white;
    border-color: rgb(185,142,238);
    border-radius:20px ;
    padding: 10px 20px;
    box-shadow: rgb(208, 187, 234) 0px 4px 16px, rgb(199, 169, 235) 0px 8px 24px, rgb(217, 191, 250) 0px 16px 56px;
}
.btn-color:hover {
    box-shadow: 0px 8px 16px 0px rgb(199, 169, 235); 
    transition:0.6s ease;
    background-color: rgb(238, 230, 248);
}