* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #040717;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  background-color: #decfe4;
}
.login_form_container {
  position: relative;
  width: 400px;
  height: 600px;
  max-width: 400px;
  max-height: 600px;
  background: #0e1a5c;
  border-radius: 50px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: 80px;
}
.login_form_container::before {
  position: absolute;
  width: 170%;
  height: 170%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #bf00ff
  );
  animation: rotate_border 6s linear infinite;
}
.login_form_container::after {
  position: absolute;
  width: 170%;
  height: 170%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: rotate_border 6s linear infinite;
  animation-delay: -3s;
}
@keyframes rotate_border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login_form {
  position: absolute;
  content: "";
  background-color: #0c1022;
  border-radius: 50px 5px;
  inset: 5px;
  padding: 50px 40px;
  z-index: 10;
  color: #742aeb;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #decfe4;
}
.input_group {
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}
.input_text {
  width: 95%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #441046;
  font-size: 20px;
  padding-left: 10px;

  color: #feffff;

  color: #00ccff;
}
.input_text:hover {
  border-bottom: 1px solid #bf00ff;
  border-radius: 20px;
}
.input_text:focus {
  border-bottom: 1px solid #bf00ff;
  border-radius: 20px;
}
::placeholder {
  font-size: 15px;
  color: #ffffff52;
  letter-spacing: 1px;
}
.fa {
  font-size: 20px;
}
#login_button {
  position: relative;
  width: 300px;
  height: 40px;
  transition: 1s;
  margin-top: 70px;
}
#login_button button {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 2px;
  border: 1px solid #00ccff;
  border-radius: 50px;
  background-color: #0c1022;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px #00ccff;
  color: #bf00ff;
}
#login_button a:hover {
  border: 1px solid #bf00ff;
  box-shadow: rgba(217, 46, 183, 0.25) 0px 13px 27px -5px,
    rgba(166, 17, 111, 0.3) 0px 8px 16px -8px;
}
.fotter {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.fotter a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}
.glowIcon {
  text-shadow: 0 0 10px #00ccff;
}
header {
  background-color: #decfe4;
}
.testing {
  margin-right: 50px;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
