<header><app-bloggylogo></app-bloggylogo></header>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animated Login From</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="testing">
      <img class="img-fluid" [src]="image.logimg" alt="aywah" />
    </div>
    <div class="login_form_container">
      <div class="row">
        <div class="login_form">
          <h2>Login</h2>
          <div class="input_group">
            <i class="fa fa-user"></i>
            <input
              type="text"
              name="username"
              placeholder="Username"
              required
              class="input_text"
              autocomplete="off"
              [(ngModel)]="data2.user"
              (input)="clearError()"
            />
          </div>

          <div class="input_group">
            <i class="fa fa-unlock-alt"></i>
            <input
              type="password"
              required
              placeholder="Password"
              class="input_text"
              name="password"
              autocomplete="off"
              [(ngModel)]="data2.pass"
            />
          </div>
          <div *ngIf="!userExists" style="color: red">
            wrong username or password
          </div>
          <div class="button_group" id="login_button">
            <button (click)="check()" type="submit">register</button>
          </div>
          <div class="fotter">
            <p>don't have an account?</p>
            <a routerLink="/createaccount">SingUp</a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </body>
</html>
<div class="pos mt-md-5">
  <div class="logiin"><app-copyright></app-copyright></div>
</div>
