<div class="container-fluid mt-5">
    <div class="row">
      <div class="col-lg-4 new-blog">
        <div class="row animate__animated animate__fadeUp">
          <div class="col offset-1">
            <h3 class="new-blog-title animate__animated animate__slideInLeft">New blogs</h3>            
            <app-left-side-blogs></app-left-side-blogs>
          </div>
        </div>
        <div class="row">
          <div class="col offset-1 ">
            <h3 class="new-blog-title animate__animated animate__slideInLeft">Popular blogs</h3>
            <div class="new-blogs">
              <app-left-side-blogs></app-left-side-blogs>
            </div>
            <div class="new-blogs">
              <app-left-side-blogs></app-left-side-blogs>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col offset-1 ">
            <div class="new-blogs">
              <app-left-side-blogs></app-left-side-blogs>
            </div>
            <div class="new-blogs">
              <app-left-side-blogs></app-left-side-blogs>
            </div>
          </div>
        </div>
      </div>





      <div class="col-lg new-blog">
        <div class="row">
          <div class="col offset-1">
            <h3 class="new-blog-title animate__animated animate__slideInRight">Cars</h3>
            <app-blog></app-blog>
          </div>
        </div>
        <div class="row">
            <div class="col offset-1">
              <app-blog ></app-blog>
            </div>
          </div>
          <div class="row">
            <div class="col offset-1">
              <h3 class="new-blog-title animate__animated animate__slideInRight">Cars</h3>
              <app-blog></app-blog>
            </div>
          </div>
      </div>
    </div>
  </div>
 