h1{
   font-family:cursive;
      text-align: center;position: relative;top: 205px;
     
        text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; /* set multiple shadows to create a contour effect */
        color: rgb(0, 0, 0); /* set the color of the text */
        font-size: 48px; /* set the font size of the text */
        font-weight: bold; /* set the font weight of the text */
        padding: 10px; /* add some padding to the text to separate it from the background */
     
      
   
}
.card {position: relative;top: 200px;
  
  background: #3405a3;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
 }
 
 .card .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
 }
 
 .card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
 }
 
 .card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
 }
 

 
 .card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
 }
 
 .card button:hover {
  background: #534bf3;
 }
#img{
    background-color: rgb(205, 112, 249);
}

body{
  
    background: linear-gradient(
      
      rgb(126, 2, 175) 0%,
      rgb(98, 31, 175) 50%,
      rgb(223, 164, 247) 50%,
      rgb(169, 115, 255) 100%
    );
    height:1000px ;
    
}
label{
  color: rgb(243, 240, 255);
}
