/* .con{
    margin-top: 150px;
}
.attribut{
    font-size: 30px;
    color: rgb(110,85,164);
    font-family: Tiro Devanagari Hindi;
}
.attribut-value{
    font-size: 25px;
    color: black;
    font-family: Alkatra;
    
}
.description{
    margin-top: 30px;
    border-radius: 100px;
    border: 1px solid rgb(110,85,164);
    background-color: white;
}
.description-text{
    padding: 40px;
    font-family: Alkatra;
}
.Notification{
   
    border-radius: 100px;
    border: 1px solid rgb(110,85,164);
    background-color: white;
    
    margin-right: 0;
    
}
.Notification-insid{
    padding: 40px;
    position: relative;
}
.notif{
    border-radius: 100px;
    border: 1px solid rgb(110,85,164);
    padding: 20px;
    justify-content: center;
    margin-left: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 10px;
    

} */
.cover{
    background-color: rgb(102,93,162);
}