<!-- <div class="con">
<div class="container ">
    <div class="row mt-md-5">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-6">
                    <img [src]="pdp.pdp" alt="pdp" srcset="" class="img-fluid img img-rounded animate__animated animate__slideInLeft">
                </div>
                <div class="col-md-6 mt-3  animate__animated animate__slideInRight">
                    <div class="attribut">
                        Name : 
                        
                    </div>
                    <div class="attribut-value">
                        User_name
                    </div>
                    <div class="attribut">
                        Email : 
                       
                    </div>
                    <div class="attribut-value">
                        User_name@bloggy.com
                    </div>
                    <div class="attribut ">
                        Name : 
                        
                    </div>
                    <div class="attribut-value">
                        User_name
                    </div>
                    
                </div>
                
            </div>
            <div class="row description animate__animated animate__fadeIn">
                <div class="description-text">

                
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum faucibus, nisi ut pharetra lacinia, quam dolor vestibulum libero, quis tristique augue velit vitae justo. Mauris varius nunc ac tellus aliquet, quis dignissim nulla luctus.
                </div>
            </div>
            
        </div>
        <div class="col-sm-5 offset-1 Notification">
            <div class="row Notification-insid">
            <div class="notif animate__animated animate__rubberBand">
                yassine has posted a blog at 12:58 check it 
            </div>
            <div class="notif animate__animated animate__rubberBand">
                yassine has posted a blog at 12:58 check it 
            </div>
            <div class="notif animate__animated animate__rubberBand">
                yassine has posted a blog at 12:58 check it 
            </div>
            <div class="notif animate__animated animate__rubberBand">
                yassine has posted a blog at 12:58 check it 
            </div>
            <div class="notif animate__animated animate__rubberBand">
                yassine has posted a blog at 12:58 check it 
            </div>
        </div>
        </div>
    </div>
</div>
</div>
 -->
<div class="row py-5 mt-5">
    <div class="col-10 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3 mt-3">
                        <img src="https://bootstrapious.com/i/snippets/sn-profile/teacher.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">Admin ben Admin</h4>
                        <p class="small mb-4"> <i class="mr-2"></i>Tunis</p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">10</h5><small class="text-muted">Blogs</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">5K</h5><small class="text-muted">Likes</small>
                    </li>
                </ul>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent Blogs</h5><a href="" class="btn btn-link text-muted">Show all</a>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-2 pr-lg-1"><app-blog></app-blog></div>
                    <div class="col-lg-6 mb-2 pr-lg-1"><app-blog></app-blog></div>
                    <div class="col-lg-6 mb-2 pr-lg-1"><app-blog></app-blog></div>
                    <div class="col-lg-6 mb-2 pr-lg-1"><app-blog></app-blog></div>
                </div>
                <div class="py-4">
                    <h5 class="mb-3">Recent posts</h5>
                    <div class="p-4 bg-light rounded shadow-sm">
                        <p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <ul class="list-inline small text-muted mt-3 mb-0">
                            <li class="list-inline-item"><i class="fa fa-comment-o mr-2"></i>12 Comments</li>
                            <li class="list-inline-item"><i class="fa fa-heart-o mr-2"></i>200 Likes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- End profile widget -->

    </div>
</div>