<div class="con">
<div class="container ">
    <div class="row mt-md-5">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-6">
                    <img [src]="pdp.pdp" alt="pdp" srcset="" class="img-fluid img img-rounded animate__animated animate__lightSpeedInLeft">
                </div>
                <div class="col-md-6 mt-3  animate__animated animate__lightSpeedInRight">
                    <div class="attribut">
                        Name : 
                        
                    </div>
                    <div class="attribut-value">
                        User_name
                    </div>
                    <div class="attribut">
                        Email : 
                       
                    </div>
                    <div class="attribut-value">
                        User_name@bloggy.com
                    </div>
                    <div class="attribut ">
                        Name : 
                        
                    </div>
                    <div class="attribut-value">
                        User_name
                    </div>
                    
                </div>
                
            </div>
            <div class="row description animate__animated animate__fadeIn">
                <div class="description-text">

                
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum faucibus, nisi ut pharetra lacinia, quam dolor vestibulum libero, quis tristique augue velit vitae justo. Mauris varius nunc ac tellus aliquet, quis dignissim nulla luctus.
                </div>
            </div>
            
        </div>
        <div class="col-sm-5 offset-1 Notification">
            <div class="row Notification-insid">
            <div class="notif animate__animated animate__rubberBand">
                yassine has posted a blog at 12:58 check it 
            </div>
            <div class="notif animate__animated animate__rubberBand">
                yassine has posted a blog at 12:58 check it 
            </div>
            <div class="notif animate__animated animate__rubberBand">
                yassine has posted a blog at 12:58 check it 
            </div>
            <div class="notif animate__animated animate__rubberBand">
                yassine has posted a blog at 12:58 check it 
            </div>
            <div class="notif animate__animated animate__rubberBand">
                yassine has posted a blog at 12:58 check it 
            </div>
        </div>
        </div>
    </div>
</div>
</div>
