<nav class="navbar d-lg-none">
  <input type="checkbox" id="navbar-toggle" class="d-none" />
  <label for="navbar-toggle" class="navbar-toggle-label">
    <span class="navbar-toggle-icon">
      <img [src]="res.navbar" alt="" class="img-fluid" srcset="" />
    </span>
  </label>
  <img [src]="res.logo_path" class="img-fluid logo" alt="" />
  <ul class="navbar-menu">
    <li class="navbar-menu-item"><a routerLink="/">Home</a></li>
    <li class="navbar-menu-item"><a routerLink="/about">About</a></li>
    <li class="navbar-menu-item"><a routerLink="/contact">Contact</a></li>
  </ul>
</nav>
