<div class="">
    <nav class="navbar sticky-top navbar-color">
        <a class="" routerLink="/">
            <img [src]="logo_path" alt="" srcset="" class="logo_size_adjust">
        </a>
        <ul class="">
            <li class="">
              <a class="nav-element" routerLink="/">Home </a>
            </li>
            <li class=" ">
                <a class="nav-element" routerLink="myblogs">My blogs</a>
              </li>
            <li class=" ">
                <a class="nav-element" routerLink="aboutus">About us </a>
              </li> 
        </ul>
        <button class="btn btn-color" type="submit">Add new blog</button>
  </nav>
</div>

