<div class="d-none d-lg-block">
  <nav class="navbar sticky-top navbar-color">
    <a class="" routerLink="/">
      <img [src]="logo.logo_path" alt="" srcset="" class="logo_size_adjust" />
    </a>
    <ul class="">
      <li class="">
        <a class="nav-element" routerLink="/">Home </a>
      </li>
      <li class=" ">
        <a class="nav-element" routerLink="/myblogs">My blogs</a>
      </li>
      <li class=" ">
        <a class="nav-element" routerLink="/aboutus">About us </a>
      </li>
      <li class=" ">
        <ng-container *ngIf="checked.isSessionActive()">
          <li class=" ">
            <a class="nav-element" routerLink="/profile">{{ username }}</a>
          </li>
        </ng-container>
      </li>
    </ul>
    <button
      class="btn btn-color animate__animated animate__zoomIn"
      type="submit"
    >
      Add new blog
    </button>

    <ng-container *ngIf="checked.isSessionActive()">
      <li class=" ">
        <a class="nav-element" routerLink="/profile">{{ username }}</a> /
        <a class="nav-element">logout</a>
      </li>
    </ng-container>
    <ng-container *ngIf="!checked.isSessionActive()">
      <li class=" ">
        <a class="nav-element" routerLink="/createaccount">
          sign in / log in
        </a>
      </li>
    </ng-container>
  </nav>

  <app-navbar-fone></app-navbar-fone>
</div>
