@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
.logo_size_adjust{
    width: 90px;
    height: 50px;
}
.colors{
    color:        #E9CBFF;
    color:        rgb(227,207,254);
    /* back ground color */
    color:        rgb(185,142,238);
    /* nav bar background color */ 
}
.navbar-color{
    background-color: rgb(185,142,238);
}
ul{
    margin-right: auto;
    margin-top: 15px;
    
}
li{
    display: inline-block;
  margin-right: 10px;
 
}
.nav-element{
    text-decoration: none;
    color: white;
    position:relative;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Alkatra;
}
nav .nav-element:hover{
    color: black;
    transition: 0.7s;
}
.nav-element::before{
    content:'' ;
    position: absolute;
    left:0;
    height: 2px;
    width: 0%;
    background-color: black;
    bottom: -7px;
    transition:0.3s ;
}
.nav-element:hover::before{
    width: 100%;
}
.btn-color{

    background-color: white;
    border-color: rgb(185,142,238);
    border-radius:20px ;
    padding: 10px 20px;
    transition:0.6s ease;
    box-shadow: rgb(208, 187, 234) 0px 4px 16px, rgb(199, 169, 235) 0px 8px 24px, rgb(217, 191, 250) 0px 16px 56px;
}
.btn-color:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition:0.6s ease;
    background: linear-gradient(rgb(201, 162, 248), rgb(228, 213, 246));
    transform: translate(1px , 1px );
    transition:0.6s ease;
    

}