nav{
    position: fixed;
    width:  100%;
}
.logo_size_adjust{
    width: 80px;
    height: 40px;
}
.navbar-color{
    background-color:rgb(102, 93, 162);
}
ul{
    margin-right: auto;
    margin-top: 15px; 
}
li{
    display: inline-block;
    margin-right: 10px;
 
}
.nav-element{
    text-decoration: none;
    color: white;
    position:relative;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Alkatra;
}
nav .nav-element:hover{
    color: black;
    transition: 0.7s;
}
.nav-element::before{
    content:'' ;
    position: absolute;
    left:0;
    height: 2px;
    width: 0%;
    background-color:black;
    bottom: -2px;
    transition:0.3s ;
}
.nav-element:hover::before{
    width: 100%;
}
.btn-color{
    font-family: Alkatra;
    background-color: rgb(255, 255, 255);
    border-color: rgb(185,142,238);
    border-radius:20px ;
    padding: 7px 17px;
    transition:0.6s ease;
    box-shadow: rgb(176, 143, 216) 0px 4px 16px, rgb(165, 123, 216) 0px 8px 24px, rgb(188, 154, 232) 0px 16px 56px;
}
.btn-color:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition:0.6s ease;
    background: linear-gradient(rgb(201, 162, 248), rgb(228, 213, 246));
    transform: translate(1px , 1px );
    transition:0.6s ease;
}
.line-it{
    display: inline-block;  
}
.container- {
    display: flex;
  }