.content{
    padding-left: 30px;
    padding-right: 30px;
}
.main{
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}
img{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.margin{
    margin-top: 20px;
}
.cheek {
    fill: black;
}
.pdp{
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.userName{
    padding-top: 10px;
    padding: 10px;  
    font-size: 17px;
    font-style: bold;
}
